<h1>Editar Usuario</h1>

<div mat-dialog-content>
  <form #formularioEditar="ngForm">
    <div>
      <label for="nombreId">Nombre</label>
      <input type="text" id="nombreId" name="nombre" [(ngModel)]="nombre">
    </div>
    <div>
      <label for="apellidoId">Apellido</label>
      <input type="text" id="apellidoId" name="apellido" [(ngModel)]="apellido">
    </div>
    <div>
      <label for="correoId">Correo</label>
      <input type="text" id="correoId" name="correo" [(ngModel)]="correo">
    </div>
    <div>
      <label for="passwordId">Password</label>
      <input type="password" id="passwordId" name="password" [(ngModel)]="password">
    </div>
    <div>
      <label for="rolId">Rol</label>
      <input type="rol" id="rolId" name="rol" [(ngModel)]="rol">
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <p-button label="Cancelar" styleClass="ui-button-secondary" (onClick)="cancelar()"></p-button>
  <p-button label="Guardar" styleClass="ui-button-success" (onClick)="guardar()"></p-button>
</div>
